body{
    background-color: whitesmoke;
}

.home-cont{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3vh;
    margin: 0 auto;
    padding: 2vh;
    justify-content: space-around;
}

@media screen and (max-width: 500px) {
    .home-cont{
        display: grid;
        grid-template-columns: auto;
        grid-gap: 2vh;
    }
}
